
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.primary-button {
  width: 98%;
  margin: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1rem;
  background-color: #07b1b1;
  color: white;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.25s;
}
.primary-button:hover {
  background-color: #37c0c0;
  cursor: pointer;
}

.footprint-chart-container {
  width: calc(min(90vw, 90vh, 600px));
  margin-left: calc((100% - min(90vw, 90vh, 600px))/2);
  margin-right: calc((100% - min(90vw, 90vh, 600px))/2);
}

.form-section-header {
  width: 99%;
  font-size: 1.5rem;
  color: #008b8b;
  padding-left: 1%;
  margin-top: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid #008b8b;
}
.form-section-header h2 {
  margin-left: 1.5rem;
  margin-bottom: 0;
  display: inline-block;
}
.form-section-header img {
  width: 10%;
  max-width: 100px;
  display: inline-block;
}



